# Dependencies

node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production build
/build
/dist
.next
out
*.tsbuildinfo

# Firebase
/.firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
ui-debug.log
database-debug.log
firestore-debug.log
pubsub-debug.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem
.project
.classpath
*.launch
.settings/

# Temp files
*.log
.temp
.cache
.eslintcache

# Vercel
.vercel

# PWA files
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map

# Stellar
.stellar

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Local Netlify folder
.netlify
